@using Microsoft.AspNetCore.Identity
@model IEnumerable<BiblioApp.Models.Livre>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="bi bi-book"></i> Livres</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Bibliothecaire"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Nouveau Livre</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneePublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnneePublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur.Nom)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Bibliothecaire"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i> Modifier</a>
                    <span> </span>
                }
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="bi bi-eye"></i> Détails</a>
                @if (User.IsInRole("Admin"))
                {
                    <span> </span>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Supprimer</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
